<!DOCTYPE html>

<head>
  {{{head}}}
  <title>{{file_name_cap}}</title>
</head>

<body>
  <div class=header role="menubar">
    <div class="header-left">
      {{{header}}}
    </div>
    <div class="header-right">
      <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">&#9660 Theme</button>
        <div id="myDropdown" class="dropdown-content">
          {{{theme_divs}}}
        </div>
      </div>
    </div>
  </div>
  <div class="page-section">
    <div class="page-section-container">
      {{{page_section}}}
    </div>
  </div>

  <footer class="footer">
    {{{footer}}}
  </footer>
</body>